.all{
	transform: scale(0.77);
	position: absolute;
	left: -35px;
}

.ranges{
	position: absolute;
	top: 50px;
	left: 130px;
}

.ranges:hover .r8{
	top: 755px;
}

.ranges:hover .r6{
	transform: rotate(-405deg);
	top: 670px;
	left: 30px;
}

.ranges:hover .a7{
	top: 705px;
	left: 600px;
	transform: rotate(25deg);
}

.ranges:hover .a9{
	top:  695px;
	left: 323px;
	transform: rotate(-460deg);
}

.ranges:hover .n6{
	transform: rotate(-452deg);
	top: 565px;
	left: 560px;
}

.ranges:hover .n8{
	top: 685px;
	left: 715px;
}

.ranges:hover .g8{
	top: 660px;
	left: 970px;
	transform: rotate(450deg);
}

.ranges:hover .g6{
	top: 780px;
	left: 1025px;
}

.ranges:hover .e6{
	top: 560px;
	left: 1270px;
}

.ranges:hover .e8{
	transform: rotate(460deg);
	top: 705px;
	left: 1280px;
}

.ranges:hover .s5{
	top: 745px;
	left: 1470px;
	transform: rotate(-360deg);
}

.ranges:hover .s6{
	width: 30px;
	height: 30px;
	top: 765px;
	left: 1623px;
}

.text{
	position: absolute;
	top: 50px;
	left: 130px;
}

.r{

}

.ranges:hover .r1{
	border-radius: 30px 0 0 0;
}

.r1{
	width: 50px;
	height: 280px;
	background-color: black;
	position: absolute;
	top: 50px;
	border-radius: 0 0 0 0;
	transition: all .3s ease-in-out;
}

.ranges:hover .r2{
	border-radius: 30px 20px 0 0;
}

.r2{
	width: 180px;
	height: 150px;
	background-color: black;
	border-radius: 0 0 0 0;
	position: absolute;
	top: 50px;
	transition: all .3s ease-in-out;
}

.r3{
	width: 90px;
	height: 90px;
	background-color: white;
	position: absolute;
	top: 80px;
	left: 50px;
}

.r4{
	width: 50px;
	height: 130px;
	background-color: black;
	transform: skew(25deg);
	position: absolute;
	top: 200px;
	left: 140px;
}

.r5{
	width: 30px;
	height: 30px;
	background-color: white;
	transform: rotate(65deg);
	position: absolute;
	top: 230px;
	left: 130px;
}

.r6{
	width: 30.5px;
	height: 30px;
	background-color: black;
	transform: rotate(65deg);
	position: absolute;
	top: 229px;
	left: 131px;
	transition: all 4s ;
	transition-delay: 1s;
}

.ranges:hover .r7{
	top: 61px;

}

.r7{
	width: 48px;
	height: 30px;
	background-color: black;
	transform: rotate(30deg);
	position: absolute;
	top: 31px;
	left: 60px;
	border-radius: 0 10px 90px 10px;
	transition: all 1s;
}

.r8{
	width: 30px;
	height: 30px;
	background-color: black;
	transform: rotate(45deg);
	position: absolute;
	top: 50px;
	left: 75px;
	border-radius: 0 25px 30px 25px;
	transition: all 4s;
	transition-delay: .6s;
}

.r9{
	width: 85px;
	height: 30px;
	background-color: white;
	position: absolute;
	top: 20px;
	left: 45px;
	
}
.r10{
	width: 30px;
	height: 30px;
	background-color: white;
	transform: rotate(45deg);
	position: absolute;
	top: 30px;
	left: 80px;
	border-radius: 0 10px 90px 10px;
}

.a{
	position: absolute;
	top: 0px;
	left: 6px;
}

.a1{
	width: 50px;
	height: 280px;
	background-color: black;
	transform: skew(-10deg);
	position: absolute;
	top: 50px;
	left: 270px;	
}

.a2{
	width: 50px;
	height: 280px;
	background-color: black;
	transform: skew(10deg);
	position: absolute;
	top: 50px;
	left: 380px;
}

.a3{
	width: 40px;
	height: 50px;
	background-color: black;
	position: absolute;
	top: 50px;
	left: 330px;
}

.a4{
	width: 100px;
	height: 50px;
	background-color: black;
	position: absolute;
	top: 170px;
	left: 300px;
}

.ranges:hover .a5{
	width: 100px;
	height: 30px;
	background-color: white;
	left: 340px;
}

.a5{
	width: 1px;
	height: 10px;
	background-color: white;
	transform: rotate(35deg);
	position: absolute;
	top: 40px;
	left: 340px;
	transition: all .3s;
}

.a6{
	width: 30px;
	height: 30px;
	background-color: black;
	transform: rotate(0deg);
	position: absolute;
	top: 70px;
	left: 383px;
	border-radius: 10px 30px 10px 0;
}

.a7{
	width: 20px;
	height: 20px;
	background-color: black;
	transform: rotate(15deg);
	position: absolute;
	top: 73px;
	left: 388px;
	border-radius: 0 25px 30px 25px;
	transition: all 3s;
	transition-delay: 0.4s;
}

.a8{
	width: 0px;
	height: 0px;
	position: absolute; 
	top:  195px;
	left: 323px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid rgb(255, 255, 255);
	transform: rotate(-45deg);
}

.a9{
	width: 0px;
	height: 0px;
	position: absolute; 
	top:  194px;
	left: 322px;
	border-left: 31px solid transparent;
	border-right: 31px solid transparent;
	border-top: 30px solid rgb(0, 0, 0);
	transform: rotate(-45deg);
	transition: all 4s;
	transition-delay: .4s;
}

.n{
	position: absolute;
	top: 0px;
	left: 20px;
}

.ranges:hover .n1{
	border-radius: 0 0 30px 0;
}

.n1{
	width: 280px;
	height: 280px;
	background-color: black;
	position: absolute;
	top: 50px;
	left: 480px;
	border-radius: 0 0 0 0;
	transition: all .3s;
}

.n2{
	width: 0px;
	height: 0px;
	position: absolute; 
	top:  320px;
	left: 340px;
	border-left: 300px solid transparent;
	border-right: 300px solid transparent;
	border-top: 300px solid rgb(255, 255, 255);
	transform: rotate(-315deg);
}

.n3{
	width: 0px;
	height: 0px;
	position: absolute; 
	top:  0px;
	left: 500px;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 150px solid rgb(255, 255, 255);
	transform: rotate(45deg);
}

.ranges:hover .n4{
	width: 300px;
	height: 60px;
	background-color: white;
	transform: rotate(10deg);
	position: absolute;
	top: 20px;
	left: 470px;
}

.n4{
	width: 300px;
	height: 60px;
	background-color: white;
	position: absolute;
	top: -10px;
	left: 470px;
	transition: all .3s;
}

.n5{
	width: 30px;
	height: 30px;
	background-color: white;
	transform: rotate(45deg);
	position: absolute;
	top: 180px;
	left: 580px;
}

.n6{
	width: 30.5px;
	height: 30px;
	background-color: black;
	transform: rotate(45deg);
	position: absolute;
	top: 178px;
	left: 581px;
	transition: all 5s;
	transition-delay: .7s;
}

.n7{
	width: 40px;
	height: 40px;
	background-color: black;
	transform: rotate(-55deg);
	border-radius: 0 20px 40px 20px;
	position: absolute;
	top: 300px;
	left: 735px;
}

.n8{
	width: 30px;
	height: 30px;
	background-color: black;
	transform: rotate(-45deg);
	border-radius: 30px 0 30px 40px;
	position: absolute;
	top: 300px;
	left: 715px;
	transition: all 3s;	
	transition-delay: .3s;
}

.g{
	position: absolute;
	top: 0px;
	left: 20px;
}

.g1{
	width: 280px;
	height: 280px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	top: 50px;
	left: 800px;
}

.ranges:hover .g2{
	border-radius: 35px 0 60px 0;
}

.g2{
	width: 280px;
	height: 280px;
	background-color: black;
	border-radius: 0 0 0 0;
	position: absolute;
	top: 50px;
	left: 800px;
	transition: all .3s;
}

.g3{
	width: 180px;
	height: 160px;
	background-color: white;
	border-radius: 50%;
	transform: scaleY(1.3);
	position: absolute;
	top: 115px;
	left: 850px;
}

.g4{
	width: 150px;
	height: 80px;
	background-color: white;
	position: absolute;
	top: 130px;
	left: 970px;
}

.g5{
	width: 100px;
	height: 40px;
	background-color: black;
	position: absolute;
	top: 200px;
	left: 980px;
}

.g6{
	width: 30px;
	height: 30px;
	background-color: black;
	transform: rotate(-45deg);
	border-radius: 30px 0 30px 40px;
	position: absolute;
	top: 295px;
	left: 1025px;
	transition: all 3s;
	transition-delay: .7s;
}

.ranges:hover .g7{
	width: 0px;
	height: 0px;
	position: absolute;
	top: 90px;
	left: 840px;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 40px solid rgb(255, 255, 255);
	transform: rotate(-175deg);	
}

.g7{
	width: 0px;
	height: 0px;
	position: absolute;
	top: 80px;
	left: 830px;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 40px solid rgb(255, 255, 255);
	transform: rotate(-175deg);
	transition: all .15s;
	transition-delay: .9s;
}

.g8{
	width: 0px;
	height: 0px;
	position: absolute;
	top: 80px;
	left: 830px;
	border-left: 40.9px solid transparent;
	border-right: 40.9px solid transparent;
	border-bottom: 40px solid rgb(0, 0, 0);
	transform: rotate(-175deg);
	transition: all 5s;
	transition-delay: .9s;
}

.e{
	position: absolute;
	top: 0px;
	left: 20px;
}

.e1{
	width: 50px;
	height: 280px;
	background-color: black;
	position: absolute;
	top: 50px;
	left: 1120px;
}

.ranges:hover .e2{
	top: 56px;
	transform: rotate(5deg);
}

.e2{
	width: 200px;
	height: 50px;
	background-color: black;
	position: absolute;
	top: 50px;
	left: 1122px;
	transform: rotate(0deg);
	transition: all 1s;
}

.e3{
	width: 200px;
	height: 50px;
	background-color: black;
	position: absolute;
	top: 163px;
	left: 1120px;
}

.e4{
	width: 200px;
	height: 50px;
	background-color: black;
	position: absolute;
	top: 280px;
	left: 1120px;
}

.ranges:hover .e5{
	top: 95px;
	left: 1250px;
}

.e5{
	width: 50px;
	height: 30px;
	background-color: black;
	transform: rotate(36deg);
	position: absolute;
	top: 65px;
	left: 1210px;
	border-radius: 0 10px 90px 10px;
	transition: all 1s;
}

.e6{
	width: 20px;
	height: 20px;
	background-color: black;
	transform: rotate(45deg);
	position: absolute;
	top: 80px;
	left: 1270px;
	border-radius: 0 30px 40px 30px;
	transition: all 5s;
	transition-delay: .6s;
}

.e7{
	width: 35px;
	height: 35px;
	background-color: white;
	position: absolute;
	top: 297px;
	left: 1275px;
}

.e8{
	width: 35px;
	height: 35px;
	background-color: black;
	position: absolute;
	top: 295px;
	left: 1275px;
	transition: all 6s;
	transition-delay: 1.1s;
}

.s{
	position: absolute;
	top: 0px;
	left: 20px;
}

.ranges:hover .s1{
	border-radius: 0 50px 50px 0;
}

.s1{
	width: 280px;
	height: 280px;
	background-color: black;
	position: absolute;
	top: 50px;
	left: 1360px;
	border-radius: 0 0 0 0;
	transition: all .3s;
}

.s2{
	width: 300px;
	height: 65px;
	background-color: white;
	position: absolute;
	top: 100px;
	left: 1420px;
	border-radius: 30px 30px 30px 30px;
}

.s3{
	width: 270px;
	height: 65px;
	background-color: white;
	position: absolute;
	top: 215px;
	left: 1310px;
	border-radius: 30px 30px 30px 30px;
}

.s4{
	width: 0px;
	height: 0px;
	position: absolute;
	top: 305px;
	left: 1470px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid rgb(255, 255, 255);
	transform: rotate(-46deg);
}

.s5{
	width: 0px;
	height: 0px;
	position: absolute;
	top: 303px;
	left: 1471px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 32px solid rgb(0, 0, 0);
	transform: rotate(-46deg);
	transition: all 7s;
	transition-delay: 1s;
}

.s6{
	width: 0px;
	height: 0px;
	background-color: black;
	position: absolute;
	top: 90px;
	left: 1638px;
	border-radius: 0 30px 40px 30px;
	transform: rotate(45deg);
	transition: all 3s;
	transition-delay: .3s;
}

.s7{

}

.s8{

}

.puddle{
	width: 1700px;
	height: 70px;
	background-color: black;
	position: absolute;
	top: 800px;
	left: 130px;
	border-radius: 50%;
}

h3{
	position: absolute;
	top: 295px;
	left: 64px;
	font-family: Helvetica;
	font-size: 23px;
}

.underline{
	width: 139px;
	height: 4px;
	background-color: black;
	position: absolute;
	top: 346px;
	left: 65px;

}

p{
	width: 330px;
	position: absolute;
	top: 330px;
	left: 47px;
	font-family: Helvetica;
	font-size: 19px;
	line-height: 24px;
	transform: scale(0.9);
}







