.title{
  width: 20vw;
  height: 10vh;
  position: relative;
  top: 0vh;
  left: 65vw;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.title2{
  position: absolute;
  top: -8vh;
  left: 5vw;
  font-size: 4vw;
  font-family: tuppence,serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 255, 255);
}

body{
	background-color: rgb(0, 4, 86);
}

.map{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 1000px;
	height: 700px;
	background-image: url(africa.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgb(0, 4, 86);
}

.lewa{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 340px;
	left: 665px;
}

.kafue{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 180px;
	left: 575px;
}

.ladigue{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 290px;
	left: 820px;
}

.table{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 5px;
	left: 490px;
}

.capsainte{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 80px;
	left: 725px;
}

.button{
	position: absolute;
	top: 2vh;
	left: 2vw;
	width: 140px;
	height: 60px;
	background-color: rgba(100, 180, 100, .9);
	border-radius: 20px 20px 20px 20px;
}

.button2{
	position: absolute;
	left: 9px;
	font-size: 19px;
	color: rgb(255, 255, 255);
}