.title{
  width: 15vw;
  height: 10vh;
  position: relative;
  top: 1vh;
  left: 75vw;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.title2{
  position: absolute;
  top: -9.5vh;
  left: 3.3vw;
  font-size: 4vw;
  font-family: tuppence,serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 255, 255);
}

body{
	background-color: rgb(0, 4, 86);
}


.map{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 1000px;
	height: 700px;
	background-image: url(Asia.svg);
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	background-color: rgb(0, 4, 86);
}

.garden{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 360px;
	left: 720px;
}

.bantayan{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 230px;
	left: 685px;
}

.yakushima{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 340px;
	left: 700px;
}

.coonoor{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 230px;
	left: 450px;
}

.geysers{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 495px;
	left: 240px;
}

.button{
	position: absolute;
	top: 2vh;
	left: 2vw;
	width: 12vw;
	height: 12vh;
	background-image: url(backbutton.svg);
	background-repeat: no-repeat;
}

.button2{
	position: absolute;
	left: 9px;
	font-size: 19px;
	color: rgb(255, 255, 255);
}