.title{
  width: 25vw;
  height: 10vh;
  position: relative;
  top: 1vh;
  left: 65vw;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.title2{
  position: absolute;
  top: -9.5vh;
  left: 3.5vw;
  font-size: 4vw;
  font-family: tuppence,serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 255, 255);
}

body{
	background-color: rgb(0, 4, 86);
}

.map{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 1000px;
	height: 700px;
	background-image: url(Australia.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgb(0, 4, 86);
}

.wellington{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 150px;
	right: 135px;
}

.dunedin{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 100px;
	right: 200px;
}

.coralbay{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 205px;
	left: 95px;
}

.swnational{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 160px;
	left: 475px;
}

.kakadu{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 140px;
	left: 320px;
}

.button{
	position: absolute;
	top: 2vh;
	left: 2vw;
	width: 12vw;
	height: 12vh;
	background-image: url(backbutton.svg);
	background-repeat: no-repeat;
}

.button2{
	position: absolute;
	left: 9px;
	font-size: 19px;
	color: rgb(255, 255, 255);
}