.title{
  width: 20vw;
  height: 10vh;
  position: relative;
  top: 1vh;
  left: 75vw;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.title2{
  position: absolute;
  top: -9.5vh;
  left: 3.5vw;
  font-size: 4vw;
  font-family: tuppence,serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 255, 255);
}

body{
	background-color: rgb(0, 4, 86);
}



.map{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 1000px;
	height: 700px;
	background-image: url(europe2.svg);
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
	background-color: rgb(0, 4, 86);
}

.menton{
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: 230px;
	left: 260px;
}

.durbuy{
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: 305px;
	left: 240px;
}

.visby{
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: 380px;
	left: 350px;
}

.chioggia{
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: 245px;
	left: 307px;
}

.elblag{
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: 340px;
	left: 365px;
}

.button{
	position: absolute;
	top: 2vh;
	left: 2vw;
	width: 12vw;
	height: 12vh;
	background-image: url(backbutton.svg);
	background-repeat: no-repeat;
}

.button2{
	position: absolute;
	left: 9px;
	font-size: 19px;
	color: rgb(255, 255, 255);
}