.map{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 100vw;
	height: 100vh;
	background-image: url(world.svg);
	background-size: cover;
	background-position: center;
	background-color: rgba(0, 4, 86, 1);
}

.sa{
	width: 40vw;
	height: 45vh;
	background-color: rgb(0, 0, 0);
	position: absolute;
	bottom: 0vh;
	opacity: 0;
}

.na{
	width: 44.5vw;
	height: 54vh;
	background-color: rgb(0, 0, 0);
	position: absolute;
	top: 0vh;
	left: 0vw;
	opacity: 0;
}

.africa{
	width: 23vw;
	height: 47.5vh;
	background-color: rgb(0, 0, 0);
	position: absolute;
	bottom: 14.5vh;
	left: 43vw;
	opacity: 0;
	border-radius: 0 200px 0 0;
}

.europe{
	width: 14vw;
	height: 22vh;
	background-color: rgb(0, 0, 0);
	position: absolute;
	top: 16vh;
	left: 45vw;
	opacity: 0;
}

.asia{
	width: 39vw;
	height: 56vh;
	background-color: rgb(0, 0, 0);
	border-radius: 0 0 0 250px;
	position: absolute;
	top: 12vh;
	right: 2vw;
	opacity: 0;
}

.austrailia{
	width: 20vw;
	height: 26vh;
	background-color: rgb(0, 0, 0);
	position: absolute;
	bottom: 5vh;
	right: 0vw;
	opacity: 0;
}

.box{
 width: 39vw;
 height: 7.5vh;
 position: relative;
 top: 0vh;
 left: 32vw;
 border-style: solid;
 border-color: rgb(255, 255, 255);
}

.choose{
	position: absolute;
	bottom: 1vh;
	left: 12.5vw;
	color: rgb(255, 255, 255);
	transform: scale(2.5);
	font-family: tuppence,serif;
	font-weight: 300;
	font-style: normal;
}