.title{
  width: 30vw;
  height: 10vh;
  position: relative;
  top: 0vh;
  left: 60vw;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.title2{
  position: absolute;
  top: -8vh;
  left: 3vw;
  font-size: 4vw;
  font-family: tuppence,serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 255, 255);
}

body{
	background-color: rgb(0, 4, 86);
}

.map{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 1000px;
	height: 700px;
	background-image: url(NorthAmerica.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgb(0, 4, 86);
}

.tulum{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 58px;
	left: 607px;
}

.olympic{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 325px;
	left: 360px;
}

.haida{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 390px;
	left: 331px;
}

.killary{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 295px;
	left: 615px;
}

.palenque{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 25px;
	left: 555px;
}

.button{
	position: absolute;
	top: 2vh;
	left: 2vw;
	width: 140px;
	height: 60px;
	background-color: rgba(100, 180, 100, .9);
	border-radius: 20px 20px 20px 20px;
}

.button2{
	position: absolute;
	left: 9px;
	font-size: 19px;
	color: rgb(255, 255, 255);
}