.map{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 100vw;
	height: 100vh;
	background-image: url(SouthAmerica.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgb(30, 60, 170);
}

.capehorn{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 0vh;
	left: 59vw;
}

.misiones{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 31.5vh;
	left: 61vw;
}

.trindade{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 35.5vh;
	left: 65vw;
}

.choquequirao{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 47vh;
	left: 49vw;
}

.goctawaterfall{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 55vh;
	left: 46vw;
}

.button{
	position: absolute;
	top: 2vh;
	left: 2vw;
	width: 140px;
	height: 60px;
	background-color: rgba(100, 180, 100, .9);
	border-radius: 20px 20px 20px 20px;
}

.button2{
	position: absolute;
	left: 9px;
	font-size: 19px;
	color: rgb(255, 255, 255);
}