.box{
	position: absolute;
	top: 130px;
	left: 300px;
	width: 294px;
	height: 400px;
	font-size: 0px;
	background-image: url(door.jpg);
	transform: scale(2.0);
}

.active{
	background-image: url(dooropen.jpg);
	height: 400px;
	transition: all 0.5s;
}

.switch{
	position: absolute;
	top: 285px;
	left: 260px;
	width: 30px;
	height: 100px;
	background-color: rgb(0, 0, 0);
	transform: scale(0.8);
}

.button{
	position: absolute;
	top: 302px;
	left: 265px;
	width: 20px;
	height: 65px;
	background-color: goldenrod;
	transform: scale(0.8);	
}